*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #222;
}
.d-flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gap-20
{
    gap: 20px;
}
.city
{
    margin: 30px 0px;
}
.card
{
    width: 90%;
    max-width: 470px;
    text-align: center;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
}
.search
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input
{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;
    height: 45px;
    border-radius: 15px;
    margin-right: 16px;
    font-size: 18px;
    flex: 1;
    
}
button
{   
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 15px;
}
.weather
{
    display: none;
}
.details
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.error
{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
